<%= form_for(@disco_box) do |f| %>
  <% if @disco_box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disco_box.errors.count, "error") %> prohibited this disco_box from being saved:</h2>

      <ul>
      <% @disco_box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label :jacket %><br>
    <%= f.text_field :jacket %>
  </div>
  <div class="field">
    <%= f.label :icon_context_type %><br>
    <%= f.text_field :icon_context_type %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :track_list %><br>
    <%= f.text_area :track_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
