<p id="notice"><%= notice %></p>

<h1>Listing Disco Boxes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Jacket</th>
      <th>Icon context type</th>
      <th>Price</th>
      <th>Track list</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disco_boxes.each do |disco_box| %>
      <tr>
        <td><%= disco_box.title %></td>
        <td><%= disco_box.url %></td>
        <td><%= disco_box.jacket %></td>
        <td><%= disco_box.icon_context_type %></td>
        <td><%= disco_box.price %></td>
        <td><%= disco_box.track_list %></td>
        <td><%= link_to 'Show', disco_box %></td>
        <td><%= link_to 'Edit', edit_disco_box_path(disco_box) %></td>
        <td><%= link_to 'Destroy', disco_box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disco box', new_disco_box_path %>
