<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @disco_box.title %>
</p>

<p>
  <strong>URL:</strong>
  <%= @disco_box.url %>
</p>

<p>
  <strong>アートワーク:</strong>
  <%= image_tag show_image_disco_box_path(@disco_box) %>
</p>

<p>
  <strong>価格:</strong>
  <%= @disco_box.price %>円
</p>

<p>
  <strong>収録楽曲:</strong>
  <%= @disco_box.track_list %>
</p>

<%= link_to '編集', edit_disco_box_path(@disco_box) %> |
<%= link_to '戻る', disco_boxes_path %>
