<%= f.input :title %>
<%= f.input :artist %>
<%= f.input :released_on, as: :date_picker, input_html: { class: "datetimepicker" } %>
<%= f.input :record_label %>
<%= f.input :catalog %>
<%= f.input :url %>
<%= f.input :artworked_by %>
<%= f.input :artwork_thumb %>
<%= f.input :artwork_full %>
<%= f.input :format %>
<%= f.input :track_list %>

<div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    admin_discography_index_path, :class => 'btn' %>
</div>
