<div class="panel-heading">
  <h3 class="panel-title"> Show Detail</h3>
</div>
<div class="panel-body">
  <div style="padding-top:20px;padding-bottom:20px;">
    <table class="table table-striped table-hover" style="width:90%;margin:auto;" border="2">
      <thead></thead>
      <tbody>
      <tr>
        <td><strong>title:</strong></td>
        <td><%= @discography.title %></td>
      </tr>

      <tr>
        <td><strong>artist:</strong></td>
        <td><%= @discography.artist %></td>
      </tr>
      <tr>
        <td><strong>released on:</strong></td>
        <td><%= @discography.released_on %></td>
      </tr>

      <tr>
        <td><strong>label:</strong></td>
        <td><%= @discography.record_label %></td>
      </tr>

      <tr>
        <td><strong>Artwork by:</strong></td>
        <td><%= @discography.artworked_by %></td>
      </tr>

      <tr>
        <td><strong>format:</strong></td>
        <td><%= @discography.format %></td>
      </tr>

      <tr>
        <td><strong>catalog:</strong></td>
        <td><%= @discography.catalog %></td>
      </tr>
      <tr>
        <td><strong>URL:</strong></td>
        <td><a href=<%= @discography.url%> target="_blank"><%= @discography.url %></a></td>
      </tr>

      <tr>
        <td><strong>thumbnail:</strong></td>
        <td>
          <%= image_tag @discography.artwork_thumb.url, size:"300x300" %>
        </td>
      </tr>

      <% if @discography.artwork_full? %>
        <tr>
          <td><strong>artwork:</strong></td>
          <td>
            <%= image_tag @discography.artwork_full.url %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td><strong>track list:</strong></td>
        <td><%= simple_format(@discography.track_list) %></td>
      </tr>

      <tr>
      </tbody>
    </table>
  </div>

  <div style="margin-bottom:20px;">
    <%= link_to '編集', edit_admin_discography_path(@discography) %> |
    <%= link_to '戻る', admin_discography_index_path %>
  </div>
</div>
