<div style="text-align:center;padding:25px;">
  <%= link_to image_tag(@disc.artwork_full? ? @disc.artwork_full.url : @disc.artwork_thumb.url), @disc.url, { class: "artwork-full", target: "_blank" } %>

  <div style="margin-top:10px;">
    <%= link_to image_tag("listen.png", size: "50x50"), @disc.listening_url.present? ? @disc.listening_url : @disc.url, class: "listenicon", target: "_blank" %>
    <%= link_to image_tag("buy.png", size: "50x50"), @disc.url, class: "buyicon", target: "_blank" %>
  </div>
  <table class="table table-striped itemInfo">
    <tbody>
      <tr>
        <td><strong>Title</strong></td>
        <td><%= @disc.title %></td>
      </tr>
      <tr>
        <td><strong>Artist</strong></td>
        <td><%= @disc.artist %></td>
      </tr>
      <tr>
        <td><strong>Release Date</strong></td>
        <td><%= @disc.released_on.strftime("%d/%m/%Y") %></td>
      </tr>
      <tr>
        <td><strong>Label</strong></td>
        <td><%= @disc.record_label %></td>
      </tr>
      <tr>
        <td><strong>Catalog</strong></td>
        <td><%= @disc.catalog %></td>
      </tr>
      <tr>
        <td><strong>Artwork</strong></td>
        <td><%= @disc.artworked_by %></td>
      </tr>
      <tr>
        <td><strong>Format</strong></td>
        <td><%= @disc.format %></td>
      </tr>
      <tr>
        <td><strong>Track List</strong></td>
        <td><%= raw @disc.track_list %></td>
      </tr>
    </tbody>
  </table>
</div>
