<h1>Top Photos</h1>

<table class="table table-striped" border="1" align=center style="padding-right:20px; padding-left:20px;">
  <tbody>
    <% @top_photos.each do |photo| %>
      <tr>
        <td><%= photo.order %></td>
        <td><%= image_tag photo.photo.url, size:"150x150" %></td>
        <td><a href=<%= photo.url %> target="_blank"><%= photo.url %></a></td>
        <td><%= link_to 'Edit', edit_admin_top_path(photo) %></td>
        <td><%= link_to 'Delete', admin_top_path(photo), method: :delete, data: { confirm: 'sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_admin_top_path %>
