<table>
  <tbody>
    <tr>
      <td height="50"></td>
    </tr>
    <tr>
      <ul class='navigate'>
        <table class='naviBar'>
          <tr>
          <td><%= link_to 'Top', url_for(:controller => 'top') %></td>
          <td><%= link_to 'About', url_for(:controller => 'about') %></td>
          <td><%= link_to 'DiscoGraphy', url_for(:controller => 'disco_graphy') %></td>
          <td><%= link_to 'Live', url_for(:controller => 'live') %></td>
          <td><%= link_to 'Soundcloud', 'https://soundcloud.com/jericos-law' %></td>
          <td><%= link_to 'Twitter', 'https://twitter.com/CheesyTastes' %></td>
        </table>
      </ul>
    </tr>
  </tbody>   
</table>
