<%= f.input :image, input_html: { preview_version: :thumb } %>
<%= f.input :image_cache, as: "hidden" %>
<%= f.input :designed_at, as: :date_picker, input_html: { class: "datetimepicker" } %>

<div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    admin_gallery_index_path, :class => 'btn' %>
</div>
