<h1>Gallery</h1>

<table class="table table-striped" border="1" align=center style="padding-right:20px; padding-left:20px;">
  <thead>
    <tr>
      <th>Image</th>
      <th>date</th>
      <th colspan="2">Operation</th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image.image.url, size:"150x150" %></td>
        <td><%= image.designed_at %></td>
        <td><%= link_to 'edit', edit_admin_gallery_path(image) %></td>
        <td><%= link_to 'delete', admin_gallery_path(image), method: :delete, data: { confirm: 'sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_admin_gallery_path %>
