<%= form_for [:admin, @disco_box] do |f| %>
  <% if @disco_box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disco_box.errors.count, "error") %> prohibited this disco_box from being saved:</h2>

      <ul>
      <% @disco_box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    タイトル
    <%= f.text_field :title %>
  </div>
  <div class="field">
    URL
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <% if @disco_box.jacket? %>
      <%= image_tag @disco_box.jacket.url %>
    <% end %></br>
    アートワーク
    <%= f.file_field :jacket %>
    <%= f.hidden_field :jacket_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @disco_box.persisted? && @disco_box.jacket? %>
      <label>
        <%= f.check_box :remove_jacket %>
        画像を削除
      </label>
    <% end %>
  </div>
  <div class="field">
    価格
    <%= f.number_field :price %>
  </div>
  <div class="field">
    収録楽曲
    <%= f.text_area :track_list %>
  </div>
  <div class="actions">
    <%= f.submit '登録' %>
  </div>
<% end %>
