<p id="notice"><%= notice %></p>

<h1>Discography</h1>

<table border="1" align=center>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>URL</th>
      <th>アートワーク</th>
      <th>価格</th>
      <th>収録楽曲</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @disco_boxes.each do |disco_box| %>
      <tr>
        <td><%= disco_box.title %></td>
        <td><%= disco_box.url %></td>
        <td><%= disco_box.jacket? ? 'あり' : 'なし' %></td>
        <td><%= disco_box.price %></td>
        <td><%= disco_box.track_list %></td>
        <td><%= link_to '詳細', admin_disco_box_path(disco_box) %></td>
        <td><%= link_to '編集', edit_admin_disco_box_path(disco_box) %></td>
        <td><%= link_to '削除', admin_disco_box_path(disco_box), method: :delete, data: { confirm: '本当に削除しますか？データの復旧はできません。' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_admin_disco_box_path %> |
<%= link_to '編集用TOPへ', "#" %>
